body {

    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

#board {

    background-color: skyblue;
    background-image: url("./flappybirdbg.png");
    margin-top: 50px;

}

.text {

    position:absolute;
    top: 300px;
    right: 100px

}